.footer {
    background-color: rgb(68 69 68);
    color: white;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    display: flex;
}